.profile__block {
  display: flex;
  justify-content: center;
  
  align-items: baseline;
  /* max-width: 500px; */
  
  /* min-width: 336px; */
}

@media screen and (max-width: 670px){
  .profile__block {
    /* width: 100%; */
    transform: translateX(10px);
  }
}